<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "bootstrap.css" %}" type="text/css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <h2><b>Co-Creation</b></h2>
                <p>Hi! {{ ActiveUser.first_name}} | <a href="{% url 'logout' %}">Log Out</a></p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url 'contest_landing_page' %}">Contests</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </div>
        </div>
    
        <div class="content">
                {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>